name: Release (manual)

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish:
    name: Publish to npm
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write   # required for changesets to push tags/commits
      pull-requests: write   # required for changesets to create PRs
      id-token: write   # required for npm trusted publishing (OIDC)
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          fetch-depth: 0  # fetch all history to allow git tags

      - name: Set up Corepack + yarn
        run: |
            npm install -g corepack
            yarn set version 4.9.2

      - name: Install dependencies
        run: yarn

      - uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org
          cache: yarn

      - name: Update npm
        run: npm install -g npm@latest

      # The Changesets action will either create/update a release PR or, if no changesets remain, publish to npm.
      - name: Create release PR or publish
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          publish: yarn changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true